<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <nav>
        <ul class="header-bar">

            <li><a href="/applicants/">Абітурієнти</a></li>
            <li><a href="/users/">Увійти</a></li>
            <li><a th:if="${session.user == 'committee' or session.user == 'admin'}"
                   href="/specialties/">Спеціальності</a></li>
            <li><a th:if="${session.user == 'committee' or session.user == 'admin'}"
                   href="/reports/">Звіти</a></li>
        </ul>
    </nav>


</body>
</html>