<div id="createSpecialtyForm">
    <input type="number" id="createSpecialtyNumber" placeholder="Specialty number" required />
    <input type="text" id="createSpecialtyName" placeholder="Specialty name" required />
    <select id="createSpecialtyFacultySelector"></select>
    <input type="number" id="createSpecialtyBudgetPlaces" placeholder="Budget Places" required />
    <input type="number" id="createSpecialtyContractPlaces" placeholder="Contract Places" required />
    <div id="createSpecialtyRequiredSubjectsSelect"></div>
    <button id="addSpecialtyBtn">Add</button>
</div>
