<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div th:replace="fragments/header"></div>

<div class="report-wrapper">
    <div class="report-table" th:each="s : ${session.specialties}">
        <table  border="1" >
            <tr>
                <th th:text="${s.name}" th:colspan="${7 + #lists.size(s.neededSubjects)}">Специальность</th>
            </tr>
            <tr>
                <th>Id</th>
                <th>Ім’я</th>
                <th>Прізвище</th>
                <th>Email</th>
                <th>Телефон</th>
                <th th:each="subject : ${s.neededSubjects}" th:text="${subject.name}">Предмет</th>
                <th>Середній бал</th>
                <th>Статус</th>
            </tr>

            <tr th:each="a : ${s.getSortedApplicantList()}">
                <td th:text="${a.id}">Id</td>
                <td th:text="${a.firstName}">Ім’я</td>
                <td th:text="${a.lastName}">Прізвище</td>
                <td th:text="${a.email}">Email</td>
                <td th:text="${a.phoneNumber}">Телефон</td>

                <td th:each="subject : ${s.neededSubjects}">
                    <span th:text="${a.getResultBySubjectId(subject.id)}">-</span>
                </td>

                <td th:text="${#numbers.formatDecimal(a.calculateAverageScore(), 1, 2)}">Середній бал</td>
                <td th:text="${a.status}">Статус</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>