<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="authorizationForm">
    <label id="authorizationLabel" for="passwordField">authorization</label>
    <input type="password" id="passwordField" placeholder="password">
    <br>
    <button type="button" id="loginBtn">login</button>
    <button type="button" id="logoutBtn">logout</button>
</div>


<div>
    <ul>
        <li><span>admin: admin</span></li>
        <li><span>committee: committee</span></li>
        <li><span>user: [empty]</span></li>
    </ul>
</div>

</body>
</html>