<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header"></div>

<form th:action="@{updateSpecialty}" method="post">
    <input type="number" name="id" placeholder="id" required>
    <input type="number" name="budgetPlaces" placeholder="budget places">
    <input type="number" name="contractPlaces" placeholder="contract places">
    <button type="submit">update</button>
</form>

<form th:action="@{selectFaculty}" method="get">
    <select name="facultyId" onchange="this.form.submit()">
        <option th:each="f : ${session.faculties}"
                th:value="${f.id}"
                th:text="${f.name}"
                th:selected="${f.id == session.selectedFacultyId}">
        </option>
    </select>
</form>

<form th:action="@{findSpecialty}" method="post">
    <input type="number" name="id" placeholder="id">
    <input type="text" name="name" placeholder="name">
    <button type="submit">find</button>
</form>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Номер</th>
        <th>Назва</th>
        <th>Факультет</th>
        <th>Бюджетних місць</th>
        <th>Контрактних місць</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s : ${session.specialties}">
        <td th:text="${s.id}">Id</td>
        <td th:text="${s.number}">Номер</td>
        <td th:text="${s.name}">Назва</td>
        <td th:text="${s.faculty.name}">Факультет</td>
        <td th:text="${s.numberOfBudgetPlaces}">Бюджетних місць</td>
        <td th:text="${s.numberOfContractPlaces}">Контрактних місць</td>
    </tr>
    </tbody>
</table>
</body>
</html>