<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="common/fragments/error-popup"></div>
    <div th:replace="applicants/fragments/add-applicant"></div>
<!--    <div th:replace="applicants/fragments/find-applicant :: findApplicantFragment"></div>-->
    <div th:replace="applicants/fragments/select-specialty-for-table"></div>
    <div th:replace="applicants/fragments/delete-applicant"></div>
    <div th:replace="applicants/fragments/table :: tableFragment"></div>


    <script type="module" src="/js/applicant/app.js"></script>
    <script type="module" src="/js/errorPopup/errorPopup.js"></script>
    <script type="module" src="/js/applicant/filterTable.js"></script>
</body>
</html>