<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form id="addApplicantForm" method="POST" action="/addApplicant">
    <div class="table-wrapper">
        <table>
            <tr>
                <td> <input type="text" name="firstName" placeholder="First name" required/> </td>
            </tr>
            <tr>
                <td> <input type="text" name="lastName" placeholder="Second name" required/> </td>
            </tr>
            <tr>
                <td> <input type="email" name="email" placeholder="Email" required/> </td>
            </tr>
            <tr>
                <td> <input type="tel" pattern="^\+380\d{9}$" name="phoneNumber" placeholder= "+380XXXXXXXXX" required/> </td>
            </tr>
        </table>
    </div>

    <div th:replace="applicants/fragments/enter-exam-results"></div>
    <div th:replace="applicants/fragments/select-benefits"></div>
    <div th:replace="applicants/fragments/select-specialty"></div>

    <button type="submit">Add Applicant</button>

    <script src="/js/available-specialties.js"></script>
</form>
</body>
</html>