<div id="addApplicantForm">
    <div class="table-wrapper">
        <table>
            <tr>
                <td> <input type="text" id="firstName" placeholder="First name" required/> </td>
            </tr>
            <tr>
                <td> <input type="text" id ="lastName" placeholder="Second name" required/> </td>
            </tr>
            <tr>
                <td> <input type="email" id ="email" placeholder="Email" required/> </td>
            </tr>
            <tr>
                <td> <input type="tel" pattern="^\+380\d{9}$" id ="phoneNumber" placeholder= "+380XXXXXXXXX" required/> </td>
            </tr>
        </table>
    </div>

    <div th:replace="applicants/fragments/enter-exam-results"></div>
    <div th:replace="applicants/fragments/select-benefits"></div>
    <div th:replace="applicants/fragments/select-specialty"></div>

    <button type="submit" id="submit-btn">Add Applicant</button>
</div>
