<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/findApplicant">
      <table>
        <tr>
          <th>
            <input type="number" name="id" placeholder="id"/>
          </th>
        </tr>
        <tr>
          <th>
            <input type="text" name="firstName" placeholder="First name"/>
          </th>
        </tr>
        <tr>
          <th>
            <input type="text" name="lastName" placeholder="Second name"/>
          </th>
        </tr>
        <tr>
          <th>
            <input type="email" name="email" placeholder="Email"/>
          </th>
        </tr>
        <tr>
          <th>
            <input type="tel" pattern="^\+380\d{9}$" name="phoneNumber" placeholder= "+380XXXXXXXXX"/>
          </th>
        </tr>
      </table>
      <button type="submit">find</button>
    </form>
</body>
</html>