<div th:fragment="findApplicantFragment">
  <form method="get" action="/findApplicant">
      <table>
        <tr>
          <th>
            <input type="number" name="id" placeholder="id"/>
          </th>
        </tr>
        <tr>
          <th>
            <input type="email" name="email" placeholder="Email"/>
          </th>
        </tr>
        <tr>
          <th>
            <input type="tel" pattern="^\+380\d{9}$" name="phoneNumber" placeholder= "+380XXXXXXXXX"/>
          </th>
        </tr>
      </table>
      <button type="submit">find</button>
    </form>
</div>