<div id="findApplicantForm" class="form-section">
    <div class="form-stack">
        <div class="form-field">
            <label for="findApplicantId">ID</label>
            <input type="number" id="findApplicantId" placeholder="id"/>
        </div>
        <div class="form-field">
            <label for="findApplicantEmail">Email</label>
            <input type="email" id="findApplicantEmail" placeholder="Email"/>
        </div>
        <div class="form-field">
            <label for="findApplicantPhoneNumber">Телефон</label>
            <input type="tel"
                   pattern="^\+380\d{9}$"
                   id="findApplicantPhoneNumber"
                   placeholder="+380XXXXXXXXX"/>
        </div>
    </div>
    <button type="button" id="findApplicantBtn" class="btn-outline">
        <i class="bi bi-search"></i>
        Знайти
    </button>
</div>
